<!DOCTYPE html>
<html>
<head>
    <title>MySQL Get Put - Users in database</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>MySQL Get Put - Users in database</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row['Id'] }}</td>
            <td>{{ row['First Name'] }}</td>
            <td>{{ row['Last Name'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
