.idea
k8s/certs
.terraform/
.test/
.terraform.lock.hcl
.DS_Store
e-commerce-app/app/api_key
e-commerce-app/k8s/db/db-appuser-creds.yaml
e-commerce-app/k8s/db/db-root-creds.yaml
e-commerce-app/e-commerce-app
*venv*
