[Unit]
Description=Node Exporter

[Service]
User={{ node_exporter.user }}
Group={{ node_exporter.group }}
EnvironmentFile=-/etc/sysconfig/node_exporter
ExecStart={{ node_exporter.bin_path }}/node_exporter

[Install]
WantedBy=multi-user.target
