[Unit]
Description=Prometheus Alertmanager
After=network-online.target

[Service]
User={{ alertmanager.user }}
Group={{ alertmanager.group }}
Type=simple
PIDFile=/var/run/prometheus-alertmanager.pid
ExecStart={{ alertmanager.bin_dir }}/alertmanager \
--config.file={{ alertmanager.etc_dir }}/alertmanager.yml \
--storage.path={{ alertmanager.var_dir }}/
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=prometheus-alertmanager
Restart=always

[Install]
WantedBy=multi-user.target
