{
	"datacenter": "{{ consul_config.datacenter }}",
	"data_dir": "{{ consul_config.data_dir }}",
	"encrypt": "{{ keygen_output.stdout }}",
	"bind_addr": "{{ consul_config.bind_addr }}",
	"client_addr": "{{ consul_config.client_addr }}",
	"performance": {
	  "raft_multiplier": {{ consul_config.raft_multiplier }}
	},
	"recursors": [
		"{{ consul_config.recursors.first }}",
		"{{ consul_config.recursors.second }}"
	]
}
