{
    "server": false,
    "datacenter": "{{ consul.datacenter }}",
    "data_dir": "{{ consul.var_dir }}",
    "encrypt": "{{ consul.encrypt_token }}",
    "log_level": "INFO",
    "enable_syslog": true,
    "leave_on_terminate": true,
    "start_join": [
        "{{ consul.server_address }}"
    ],
    "recursors":[
        "{{ dns.server_address1 }}",
        "{{ dns.server_address2 }}"
    ],
    "node_meta":{
        "groups": "slaves",
        "ostype": "{{ ansible_distribution | lower }}{{ ansible_distribution_major_version }}"
    }
}
