[Unit]
Description=Consul Startup process
After=network.target
 
[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/consul agent -bind {{ ansible_default_ipv4.address }} -config-dir {{ consul.conf_dir }}'
TimeoutStartSec=0
 
[Install]
WantedBy=default.target
