ansicolor==0.2.6
certifi==2019.11.28
chardet==3.0.4
Click==7.0
configparser==4.0.2
entrypoints==0.3
enum34==1.1.6
flake8==3.7.9
functools32==3.2.3.post2
future==0.18.2
futures==3.3.0
greenlet==0.4.15
mccabe==0.6.1
msgpack==0.6.2
pathspec==0.7.0
proselint==0.10.2
pycodestyle==2.5.0
pyflakes==2.1.1
PyYAML==5.4
six==1.13.0
termcolor2==0.0.3
trollius==2.2.post1
typing==3.7.4.1
